<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998744645820-u3pdm03rnkr67v2e79sbkg4jsqk4a379.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998744645820-u3pdm03rnkr67v2e79sbkg4jsqk4a379</string>
	<key>API_KEY</key>
	<string>AIzaSyC2DCarmmMSqNBEGjq8w1oQrUG2oRLzBCU</string>
	<key>GCM_SENDER_ID</key>
	<string>998744645820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.sus.tmm.dev</string>
	<key>PROJECT_ID</key>
	<string>timemachinemessage-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>timemachinemessage-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998744645820:ios:cc398ae85d38dc6070b0b9</string>
</dict>
</plist>